<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="F:/Automation/TestAutomation"><classes><class name="tests.api.ProductApiTest"><methods><include name="getProductsApiShouldReturn200"/></methods></class><class name="tests.ui.CartTest"><methods><include name="addProductAndUpdateQuantity"/></methods></class><class name="tests.ui.ContactFormTest"><methods><include name="shouldShowValidationErrorsWhenSubmittingEmptyForm"/><include name="shouldSubmitContactFormSuccessfullyWithValidData"/></methods></class></classes></test></suite>